@import 'jeet/jeet';
@include j-edit;
@import "breakpoint";

$small: 500px;
$medium: 500px 800px;
$large: 800px;

section {
	@include j-center(100%);

	@include breakpoint($small) {
		background-color: red;
	}
	@include breakpoint($medium) {
		background-color: blue;
	}
	@include breakpoint($large) {
		background-color: green;
	}
}

aside {
	@include j-column(1/10);
}

article {
	@include j-column(9/10);
	img {
		@include j-column(1/2 9/10, 0, 2);
	}
}

footer {
	@include j-column(10/10);
	position: relative;
	left: 0px;
	bottom: 0px;
}

// Some classes

// Fonts
body {
	font-family: "Oxygen", helvetica;
}